/* <----description---> */
.title {
  margin: 10px 0;
}

.description-section p {
  margin-bottom: 15px;
  font-weight: 500;
  font-size: 1em;
  line-height: 1.3;
  color: var(--Cool-gray);
}
/* <---fin description---> */

/*<--- inputs---> */
.inputs-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.input-control {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.input-control label {
  font-size: 0.9em;
  font-weight: 500;
}

.input-control input {
  border: none;
  outline: 1px solid var(--Cool-gray);
  padding: 10px;
  border-radius: 5px;
}

.error-text{
  display: block;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
  text-align: right;
  color: var(--Strawberry-red);
  animation: show both .2s;
}

/*<---fin inputs---> */
